<div class="fixed right-0 top-3/4">
  <button
    class="
      rounded
      p-1
      rounded-tr-none rounded-br-none
      border
      bg-white bg-opacity-25
      shadow-md
      hover:bg-gray-400 hover:bg-opacity-25
    "
  >
    <svg
      class="w-10 h-10 text-gray-600"
      fill="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"
      ></path>
    </svg>
  </button>
</div>
