<app-modal>
  <h1 class="font-bold text-lg text-blue-500 text-center mb-4">
    About <span class="text-red-500">Chain Reaction</span>
  </h1>
  <p class="text-xs text-gray-500 mb-2">
    <b>Chain Reaction</b> is one of the first Android games I played. <br />
    I build the online multiplayer version to play the game with friends and
    have fun.
  </p>
  <p class="text-xs text-gray-500 mb-2">
    I hope you enjoy playing the game. Do share it with friends. If possible,
    provide your valuable feedback.
  </p>
  <p class="text-xs text-gray-500">Have Fun :)</p>
  <p class="text-xs mt-4 font-extrabold">
    <span class="mr-2 text-black">tdrk</span>
    <a href="mailto:tdrmk@pm.me" class="mr-0.5">
      <svg class="inline-block w-5 h-5 rounded" viewBox="0 0 24 24">
        <path
          class="fill-current text-blue-500"
          d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
        ></path>
      </svg>
    </a>
    <a
      href="https://www.youtube.com/channel/UCW_t7ft1X6SPtWXP5XjgVnw"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="inline-block w-5 h-5 rounded" viewBox="0 0 24 24">
        <path
          class="fill-current text-red-500"
          d="M10 15l5.19-3L10 9v6m11.56-7.83c.13.47.22 1.1.28 1.9.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83-.25.9-.83 1.48-1.73 1.73-.47.13-1.33.22-2.65.28-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44-.9-.25-1.48-.83-1.73-1.73-.13-.47-.22-1.1-.28-1.9-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83.25-.9.83-1.48 1.73-1.73.47-.13 1.33-.22 2.65-.28 1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44.9.25 1.48.83 1.73 1.73z"
        ></path>
      </svg>
    </a>
  </p>
</app-modal>
