<app-modal>
  <h1 class="font-bold text-lg text-blue-500 text-center mb-4">
    About <span class="text-red-500">Chain Reaction</span>
  </h1>
  <p class="text-xs text-gray-500 mb-2">
    <b>Chain Reaction</b> is one of the first Android games I played. <br />
    I build the online multiplayer version to play the game with friends and
    have fun.
  </p>
  <p class="text-xs text-gray-500 mb-2">
    I hope you enjoy playing the game. Do share it with friends. If possible,
    provide your valuable feedback.
  </p>
  <p class="text-xs text-gray-500">Have Fun :)</p>
  <p class="text-xs mt-4 font-extrabold">
    <span class="mr-2 text-blue-500">tdrk</span>
    <a href="mailto:tdrmk@pm.me">
      <svg class="inline-block w-5 h-5 rounded" viewBox="0 0 24 24">
        <path
          class="fill-current text-red-500"
          d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
        ></path>
      </svg>
    </a>
  </p>
</app-modal>
