<app-modal>
  <h1 class="font-bold text-xl text-blue-500 text-center mb-2">About</h1>
  <p class="text-xs text-gray-500 mb-2">
    Chain Reaction was one of the first android games I every played. Wanted to
    re-live the experience and play the game with friends. Thus I built an
    online multiplayer version of the game.
  </p>
  <p class="text-xs text-gray-500">
    Have fun playing the game! Do share it with your friends and provide your
    valuable feedback!
  </p>
  <p class="text-xs mt-4 font-extrabold">tdrk</p>
  <a class="underline text-gray-500 text-xs italic" href="mailto:tdrmk@pm.me"
    >tdrmk@pm.me</a
  >
</app-modal>
