<style>
  .animate-delay-500 {
    animation-delay: 500ms;
  }

  .animate-delay-1000 {
    animation-delay: 1000ms;
  }

  .animate-delay-1500 {
    animation-delay: 1500ms;
  }
</style>
<div
  class="
    flex
    absolute
    w-full
    h-full
    top-0
    bottom-0
    left-0
    right-0
    bg-opacity-50
    z-50
    bg-black
    justify-center
    items-center
  "
>
  <div
    class="w-0.5 h-4 m-0.5 md:w-2 md:h-12 md:m-1 animate-pulse bg-blue-200"
  ></div>
  <div
    class="
      w-0.5
      h-4
      m-0.5
      md:w-2 md:h-12 md:m-1
      animate-pulse animate-delay-500
      bg-blue-200
    "
  ></div>
  <div
    class="
      w-0.5
      h-4
      m-0.5
      md:w-2 md:h-12 md:m-1
      animate-pulse animate-delay-1000
      bg-blue-200
    "
  ></div>
  <div
    class="
      w-0.5
      h-4
      m-0.5
      md:w-2 md:h-12 md:m-1
      animate-pulse animate-delay-1500
      bg-blue-200
    "
  ></div>
</div>
