<div class="flex flex-row justify-between my-0.5 bg-gray-100 rounded p-0.5">
  <button
    id="prev"
    class="
      w-4
      h-4
      rounded
      border border-gray-400
      hover:bg-gray-400
      text-gray-700
    "
  >
    <svg class="fill-current text-black" viewBox="0 0 24 24">
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
    </svg>
  </button>
  <div
    id="value"
    class="text-xs text-gray-800 text-center flex items-center select-none"
  >
    <!-- selected option goes in here -->
  </div>
  <button
    id="next"
    class="
      w-4
      h-4
      rounded
      border border-gray-400
      hover:bg-gray-400
      text-gray-700
    "
  >
    <svg class="fill-current text-black" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
    </svg>
  </button>
</div>
