<div class="font-medium text-4xl font-sans text-blue-600 w-max select-none">
  chain reacti
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-8 h-8 inline -mx-2 fill-current animate-spin"
    viewBox="-125 -125 250 250"
  >
    <circle
      cx="45"
      cy="0"
      r="50"
      class="stroke-current stroke-2 text-red-400"
    ></circle>
    <circle
      cx="-22.49999999999999"
      cy="38.97114317029975"
      r="50"
      class="text-red-500 stroke-current stroke-2"
    ></circle>
    <circle
      cx="-22.50000000000002"
      cy="-38.971143170299726"
      class="text-red-600 stroke-current stroke-2"
      r="50"
    ></circle>
  </svg>
  n
</div>
