<div class="flex justify-center h-full md:items-center">
  <div
    class="
      bg-white
      w-max
      p-4
      m-4
      rounded-2xl
      md:border md:p-12 md:border-gray-300
    "
  >
    <chain-reaction-logo></chain-reaction-logo>
    <h1 class="font-bold text-2xl text-gray-700">Sign Up</h1>
    <p class="font-medium text-sm mb-4">Create your Chain Reaction Account</p>
    <form novalidate autocomplete="off">
      <div class="my-4">
        <label
          for="username"
          class="block mb-2 text-sm font-bold text-gray-700"
        >
          Username
        </label>
        <input
          class="w-full text-sm border rounded-lg border-gray-300"
          type="text"
          name="username"
          id="username"
        />
        <div id="username-caption" class="text-xs text-gray-500">
          Use 4 or more characters with only letters and numbers
        </div>
      </div>
      <div class="my-4">
        <label
          for="password"
          class="block mb-2 text-sm font-bold text-gray-700"
        >
          Password
        </label>
        <input
          class="w-full text-sm border rounded-lg border-gray-300"
          type="password"
          name="password"
          id="password"
        />
        <div id="password-caption" class="text-xs text-gray-500">
          Use 4 or more characters
        </div>
      </div>
      <div class="flex justify-center">
        <avatar-picker></avatar-picker>
      </div>
      <div class="mt-6 mb-4">
        <button
          type="submit"
          class="
            w-full
            px-4
            py-2
            font-bold
            text-white
            bg-blue-500
            hover:bg-blue-600
            disabled:opacity-50 disabled:bg-blue-400
            rounded-full
          "
        >
          Create Account
        </button>
      </div>
    </form>
    <hr />
    <div class="text-center p-4">
      <a
        class="inline-block text-sm text-blue-500 hover:text-blue-700"
        href="/login"
        is="nav-link"
        >Already have an account? Login!</a
      >
    </div>
  </div>
</div>
