<div class="flex justify-end my-0.5">
  <div
    class="
      flex flex-col
      py-1
      px-2
      max-w-xs
      text-xs
      rounded-tr-none rounded-lg
      text-white
      bg-blue-300
    "
  >
    <div class="font-bold">
      <slot name="username">
        <!-- username -->
      </slot>
    </div>
    <div>
      <slot name="message">
        <!-- message -->
      </slot>
    </div>
  </div>
  <div class="self-start ml-2 w-10 h-10 rounded-full overflow-hidden">
    <slot name="avatar">
      <!-- profile pic goes in here -->
    </slot>
  </div>
</div>
